name: Pylint

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with pylint
      # https://github.com/actions/starter-workflows/issues/636
      run: |
        pylint $(find . -name "*.py" | xargs)
#         pylint $(ls -R | grep '.py$' | xargs)
#        pylint $(find . -name "*.py" | xargs) --exit-zero


